
<header class="mb-5">

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/apple-icon-57x57.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Baby Phone
      </a>

      <button *ngIf="navbarEnabled" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div *ngIf="navbarEnabled" class="w-100">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="detectedEventsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Detected Events
              </a>
              <div class="dropdown-menu" aria-labelledby="detectedEventsDropdown">
                <bp-detected-event-list #detectedEvents></bp-detected-event-list>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="alarmSoundDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Alarm Sounds
              </a>
              <div class="dropdown-menu" aria-labelledby="alarmSoundDropdown">
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  [class.active]="activeAlarmSound === soundPlayerService.soundFiles.fogHorn"
                  (click)="setActiveAlarmSound(soundPlayerService.soundFiles.fogHorn)">
                  Fog Horn</a>
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  [class.active]="activeAlarmSound === soundPlayerService.soundFiles.shipBell"
                  (click)="setActiveAlarmSound(soundPlayerService.soundFiles.shipBell)">
                  Ship Bell</a>
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  [class.active]="activeAlarmSound === soundPlayerService.soundFiles.siren"
                  (click)="setActiveAlarmSound(soundPlayerService.soundFiles.siren)">
                  Siren</a>
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  [class.active]="activeAlarmSound === soundPlayerService.soundFiles.noSound"
                  (click)="setActiveAlarmSound(soundPlayerService.soundFiles.noSound)">
                  No Sound</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="">
              <span class="mt-1">Volume Threshold</span>
              <input
                type="range"
                class="custom-range"
                id="sensitivity"
                min="0"
                max="100"
                value="90"
                #sense (change)="changeVolumeThreshold(sense.value)">
            </li>
          </ul>
        </div>
      </div>

    </div>

  </nav>

  <div id="back-button" class="container" [class.visible]="backButtonLink">
    <button class="btn btn-dark p-2" routerLink="{{backButtonLink}}">Back</button>
  </div>
  <h1 class="text-center">{{title}}</h1>
</header>

